<div class="container row top-bar">
  <div class="col top-bar-title">
    <h1>Xem và viết đánh giá.</h1>
    <h1>Review
      <span id="reviewSpan">
      </span>
    </h1>
    <p>Nền tảng đánh giá, review phim chiếu rạp uy tín, chất lượng từ các nhà phê bình.</p>
    <div class="form-search-home d-flex">
      <input class="form-control" autocomplete="off" id="text-search-home" type="text" placeholder="Nhập tên phim">
      <button class="btn btn-primary btn-search-home">Tìm kiếm</button>
      <div id="suggest-search">
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>