</main>
<!--   Core JS Files   -->
<script src="/assets/js/admin/core/popper.min.js"></script>
<script src="/assets/js/admin/core/bootstrap.min.js"></script>
<script src="/assets/js/admin/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/admin/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/admin/plugins/chartjs.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.js"
  integrity="sha512-1cMYNLuYP3nNQUA42Gj7XvcJN5lAukNNw3fE1HtK3Fs1DA5JPrNQHv5g/FM+1yL5cT6x3sf2o1mKmTpVO0iGcA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"
  integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/admin/argon-dashboard.min.js?v=2.0.4"></script>
<script src="/assets/js/admin/admin.js"></script>
</body>

</html>